.kzui-select {
  position: relative;
  font-family: Arial, sans-serif;
}

.kzui-heading{ 
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 5px;
}
.kzui-heading h1{
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.kzui-select--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.kzui-select__control {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  flex-wrap: wrap;
}

.kzui-select__value, .kzui-select__placeholder {
  flex: 1;
}

.kzui-select__placeholder {
  color: #aaa;
}

.kzui-select__clear-btn {
  background: none;
  border: none;
  color: #F43F5E;
  cursor: pointer;
  font-size: 16px;
}

.kzui-select__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 10;
  margin-top: 10px;
  padding: 5px;
}

.kzui-select__search{
  outline: none;
  border: none;
  background: none;
  color: #F43F5E;  
  font-size: 15px;
  width: 100%;
}

.kzui-select__search_icon{
  color: #F43F5E;
  font-size: 20px;
}

.kzui-select__search_container{
  background-color: #130d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 2px;
}

.kzui-select__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.kzui-select__option {
  padding: 8px;
  cursor: pointer;
}

.kzui-select__option:hover {
  background-color: rgb(255 241 242);
  color: rgb(244 63 94);  
}

.kzui-select__multi-value-container {
  display: flex;
  align-items: center;
  background-color: rgb(255 241 242);
  color: rgb(244 63 94);
  border-radius: 3px;
  padding: 4px 8px;
  margin: 2px;
}

.kzui-select__multi-value {
  margin-right: 4px;
}

.kzui-select__group {
  margin-bottom: 8px;
}

.kzui-select__group-label {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.kzui-select__no-options {
  padding: 8px;
  color: #666;
}
